https://www.weatherbit.io/api/weather-forecast-48-hour

In [1]:
import urllib, json
from pandas.io.json import json_normalize
import pandas as pd
from IPython.display import display, HTML

In [2]:
url = "https://api.weatherbit.io/v2.0/forecast/hourly?city=Champaign,IL&key=b884eed1798f46feab4effc907e537a7&hours=1"
response = urllib.urlopen(url)
data = json.loads(response.read())
print data

{u'lon': u'-88.24338', u'lat': u'40.11642', u'country_code': u'US', u'city_name': u'Champaign', u'timezone': u'America/Chicago', u'state_code': u'IL', u'data': [{u'uv': 5.85596, u'timestamp_utc': u'2019-04-01T16:00:00', u'pop': 0, u'ts': 1554134400, u'vis': 24.1, u'weather': {u'code': 800, u'description': u'Clear Sky', u'icon': u'c01d'}, u'pod': u'd', u'clouds_mid': 0, u'wind_cdir': u'S', u'dhi': 111.67, u'dni': 883.94, u'snow': 0, u'rh': 49, u'pres': 999.49, u'snow_depth': 0, u'solar_rad': 741.64, u'timestamp_local': u'2019-04-01T11:00:00', u'wind_cdir_full': u'south', u'datetime': u'2019-04-01:16', u'wind_spd': 5.3022, u'wind_dir': 181, u'clouds': 0, u'temp': 5.2, u'app_temp': 1.6, u'clouds_hi': 0, u'wind_gust_spd': 6, u'slp': 1027.96, u'dewpt': -4.6, u'ozone': 388.4, u'precip': 0, u'clouds_low': 0, u'ghi': 741.64}]}

In [3]:
def get_row(url):
    #url = "https://api.weatherbit.io/v2.0/forecast/hourly?city=Champaign,IL&key=b884eed1798f46feab4effc907e537a7&hours=1"
    response = urllib.urlopen(url)
    data = json.loads(response.read())
    columns = []
    data_list = []
    for key in data:
        value1= data[key]
        #print key+'---->'
        #print value1
    
        if isinstance(value1,list):
            for key2 in value1:
                #print key2 
                if isinstance(key2,dict):
                    for key3 in key2:
                #        print "**********" +key3+'---->'
                        value3 = key2[key3]
                        
                        
                        if isinstance(value3,dict):
                            for key4 in value3:
                                columns.append(key4)
                                data_list.append(value3[key4])
                 #               print "======================================"+key4 +'---->'
                 #               print "))))))))))))" + str(value3[key4])
                        else:
                            columns.append(key3)
                            data_list.append(value3)
                            #print columns
                  #          print " &&&&&&&&&&&&" +str(value3)
        else:
            columns.append(key)
            data_list.append(value1)
            #print columns
            #print value1

    return columns,data_list

#df = pd.DataFrame(data_list)
#df.head()

In [4]:
#forecast for one hour from different 
col,row= get_row("https://api.weatherbit.io/v2.0/forecast/hourly?city=Champaign,IL&key=b884eed1798f46feab4effc907e537a7&hours=1")
col,row2= get_row("https://api.weatherbit.io/v2.0/forecast/hourly?city=Newark,NJ&key=b884eed1798f46feab4effc907e537a7&hours=1")
col,row3= get_row("https://api.weatherbit.io/v2.0/forecast/hourly?city=LosAngeles,CA&key=b884eed1798f46feab4effc907e537a7&hours=1")
col,row4= get_row("https://api.weatherbit.io/v2.0/forecast/hourly?city=Denver,CO&key=b884eed1798f46feab4effc907e537a7&hours=1")


weather_data = [(row), (row2), (row3), (row4)]
labels = col
df = pd.DataFrame(weather_data, columns = labels)
df.head()

,lon,lat,country_code,city_name,timezone,state_code,uv,timestamp_utc,pop,ts,...,temp,app_temp,clouds_hi,wind_gust_spd,slp,dewpt,ozone,precip,clouds_low,ghi
0,-88.24338,40.11642,US,Champaign,America/Chicago,IL,5.85596,2019-04-01T16:00:00,0,1554134400,...,5.2,1.6,0,6.0,1027.96,-4.6,388.4,0,0,741.64
1,-74.17237,40.73566,US,Newark,America/New_York,NJ,6.85034,2019-04-01T16:00:00,0,1554134400,...,4.6,0.8,0,9.7,1022.68,-7.2,422.7,0,0,818.96
2,-118.24368,34.05223,US,Los Angeles,America/Los_Angeles,CA,2.12786,2019-04-01T16:00:00,0,1554134400,...,19.9,18.8,52,5.0,1015.14,2.1,298.1,0,0,444.49
3,-104.9847,39.73915,US,Denver,America/Denver,CO,4.21477,2019-04-01T16:00:00,0,1554134400,...,7.9,7.9,0,1.0,1016.08,-6.0,344.1,0,1,586.88

In [5]:
col,row= get_row("https://api.weatherbit.io/v2.0/forecast/hourly?city=Champaign,IL&key=b884eed1798f46feab4effc907e537a7&hours=10")

main_col = col[:6]
main_row = row[:6]



col1 = col[6:40]

row1 = row[6:40]
row2 = row[40:74]
row3 = row[74:108]
row4 = row[108:142]
row5 = row[142:176]
row6 = row[176:210]
row7 = row[210:244]
row8 = row[244:278]
row9 = row[278:312]
row10 = row[312:346]

'''
weather_data_main = main_row
labels_main = main_col
df_main = pd.DataFrame(weather_data_main, columns = labels_main)
df_main.head()
'''

weather_data_trials = [(row1), (row2), (row3), (row4), (row5), (row6), (row7), (row8),(row9),(row10)]
labels = col1
df = pd.DataFrame(weather_data_trials, columns = labels)
display(HTML(df.to_html()))

- add more hours for forecast of same location
- start handwriting/image dataset
- write intro to jupyter notebook notes
- work on more csv files for intro level classes and include notes about what code includes
- intro to kaggle
- work on human protein atlas project

https://docs.python.org/3.5/library/timeit.html
    
https://blog.dominodatalab.com/lesser-known-ways-of-using-notebooks/
    
https://plantcv.readthedocs.io/en/v2.1/jupyter/
    
https://www.kaggle.com/jschnab/exploring-the-human-protein-atlas-images

In [6]:
#print col

repeat_row = row[6:]
chunks = [repeat_row[x:x+34] for x in xrange(0, len(repeat_row), 34)]
labels = col1


new_df = pd.DataFrame(columns= labels, data=chunks)
display(HTML(new_df.to_html()))

In [7]:
repeat_row = row[6:]
for x in xrange(0, len(repeat_row),34):
    results = [repeat_row[x:x+34]]
print results        
labels = col1
new_df = pd.DataFrame(columns= labels, data=results)
display(HTML(new_df.to_html()))

[[0, u'2019-04-02T01:00:00', 0, 1554166800, 24.1, 802, u'Scattered clouds', u'c02n', u'n', 25, u'S', 0, 0, 0, 84, 993.871, 0, 0, u'2019-04-01T20:00:00', u'south', u'2019-04-02:01', 3.42938, 170, 25, 4.9, 1.2, 7, 8, 1022.04, 2.5, 373.007, 0, 0, 0]]