**Useful resources to understand XML structure**

Intro to XML: https://www.w3schools.com/xml/xml_tree.asp

**IMPORTING PACKAGES**

In [1]:
import requests                               #makes data from URLs easy to gather
import xml.etree.ElementTree as ET            #stores hierarchical structures from XML
import csv
import pandas as pd
from IPython.display import display, HTML
import nltk                                   #natural language toolkit; helpful for string data
from nltk.tokenize import word_tokenize
#nltk.download('punkt')
from wordcloud import WordCloud, STOPWORDS    #visualizing word in cloud
import matplotlib.pyplot as plt
import numpy as np
from matplotlib import cm as cm               #correlation map
#from pydoc import help
from scipy.stats.stats import pearsonr        #pearson correlation
from scipy.stats import ttest_ind
from collections import Counter

**READING INTO XML FILE**

**Converting XML to pandas dataframe to be able to manipulate data.**

In [2]:
#PARSING THROUGH XML FILE

"""


#no output achieved; parsing through file saved on machine
#code from Shreya

tree = ET.parse('../Desktop/Data/plant_catalog.xml')
root = tree.getroot()
#for child in root:
#    print child.tag, child.attrib, child.text

#print root.tag
#print root.attrib

dict_to_df = {}
for neighbor in root.findall('PLANT/PLANT'):
    print neighbor.tag, neighbor.attrib
    for child in neighbor:
       # print child.tag, child.attrib, child.text
        if (child.tag not in dict_to_df):
            dict_to_df[child.tag]=[child.text]
        else:
            dict_to_df[child.tag].append(child.text)
        print dict_to_df
for key, array in dict_to_df.items():
    print key,len(array)
    
"""

#obtained most code from http://www.austintaylor.io/lxml/python/pandas/xml/dataframe/2016/07/08/convert-xml-to-pandas-dataframe/

# another dataset: user_agent_url = 'https://www.w3schools.com/xml/simple.xml'
user_agent_url = 'https://www.w3schools.com/xml/plant_catalog.xml'
xml_data = requests.get(user_agent_url).content

class XML2DataFrame:

    def __init__(self, xml_data):                    #reading into file
        self.root = ET.XML(xml_data)

        
    
    def parse_root(self, root):                      #list of dictionaries and attributes of the children under this XML root.           
        return [self.parse_element(child) for child in iter(root)]

    
    def parse_element(self, element, parsed=None):   #Collect {key:attribute} and {tag:text} from XML elements and all children into a single dictionary of strings.
        if parsed is None:
            parsed = dict()
        for key in element.keys():
            parsed[key] = element.attrib.get(key)
        if element.text:
            parsed[element.tag] = element.text
        
        for child in list(element):                  #apply recursion
            self.parse_element(child, parsed)
        return parsed

    def process_data(self):                          #Initiate the root XML, parse it, and return a dataframe
        structure_data = self.parse_root(self.root)
        return pd.DataFrame(structure_data)

xml2df = XML2DataFrame(xml_data)
xml_df = xml2df.process_data()
del xml_df['PLANT']                                  #removed "PLANT" column since just a divider
display(HTML(xml_df.to_html()))

**GATHERING BASIC DATA FROM DATAFRAME**

In [3]:
xml_df.nunique()

AVAILABILITY    32
BOTANICAL       25
COMMON          36
LIGHT            6
PRICE           36
ZONE             8
dtype: int64

In [4]:
xml_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 6 columns):
AVAILABILITY    36 non-null object
BOTANICAL       36 non-null object
COMMON          36 non-null object
LIGHT           36 non-null object
PRICE           36 non-null object
ZONE            36 non-null object
dtypes: object(6)
memory usage: 1.8+ KB

group = xml_df.groupby(["LIGHT"])
for key,item in group:
    display(HTML(group.get_group(key).to_html()))

In [5]:
#finds how many times a word is repeated in given column
xml_df.LIGHT.str.split(expand=True).stack().value_counts()

Shade     18
Mostly    14
Shady     13
Sun        7
or         6
Sunny      4
dtype: int64

**DATA MANIPULATION**

**Tokenizing, Wordcloud, label encoding, binary, pearson correlation**

In [10]:
#TOKENIZING - separating elements in column into single strings; output is series
xml_df['LIGHT'] = xml_df['LIGHT'].astype(str)                 #converting type obj to str

def graph():
    f = open("file.txt", "r")
    inputfile = f.read()
    xml_token = xml_df['LIGHT'].apply(word_tokenize)
    #tokens = nltk.tokenize.word_tokenize(xml_df['LIGHT'])
    fig = plt.figure()
    fd = nltk.FreqDist(xml_token)
    fd.plot(30,cumulative=False)
    h = plt.show()
    return h

In [7]:
#words = "apple banana apple strawberry banana lemon"
#freqs = Counter(xml_token)
#print(freqs)

#count = xml_token.eq('Mostly Shady', 'Sun').sum()
#print count
#print xml_df['LIGHT'].count('Shade')

In [8]:
fd = nltk.FreqDist(xml_token)
fd.plot(30,cumulative=False)

NameError: name 'xml_token' is not defined

In [ ]:
#WORDCLOUD - creating word cloud to visualize frequency of word used

wordcloud = WordCloud().generate(' '.join(xml_df['LIGHT']))
#wordcloud = WordCloud().generate(' '.join(xml_df['BOTANICAL']))

#wordcloud = WordCloud().generate(xml_token)
plt.imshow(wordcloud)
plt.axis("off")
plt.show()

**Label Encoding & Binary**

reassigning column object to become category --> assign encoded value to different outputs in column

In [ ]:
#fixing 'PRICE'
xml_df['PRICE'] = xml_df['PRICE'].str.replace('$', '')   #remove "$" from "PRICE" to make into integar
xml_df['PRICE'] = xml_df['PRICE'].astype(float)          #converts 'PRICE' from obj to float


#LABEL ENCODING
xml_df['LIGHT']= xml_df['LIGHT'].astype('category')      #convert 'LIGHT' from obj to category
xml_df["LIGHT"] = xml_df["LIGHT"].cat.codes              #label encoding


#BINARY- creates binary where one type is 1 and everything else in row is 0
#http://pbpython.com/categorical-encoding.html
xml_df["ZONE_binary"] = np.where(xml_df["ZONE"].str.contains("Annual"), 1, 0)



display(HTML(xml_df.to_html()))

**STATISTICAL TESTING**

**PEARSON CORRELATION**

**Gives strongest linear correlation between 2 groups, expressed in terms of r [-1,+1] where 0 means there's no correlation; can be either positively or negatively correlated**


**There's always independent (eg gender) and dependent variable (eg test scores). If independent variable has more than one outcome, use ANOVA, otherwise use t-test.What degree of confidence that the difference between the means of 2 groups is not to have occurred by chance.
**T-TEST: used to determine if there's significant difference between the mean of 2 groups. infer that dependent variable fits normal distribution so we can always predict what the outcome is. 

**ANOVA**

In [ ]:
#gives (Pearson's correlation coefficient, 2-tailed p-value)

#data = xml_df[['LIGHT','ZONE_binary']]

x = xml_df['LIGHT']
y = xml_df['ZONE_binary']
pearsonr(x, y)
#correlation = data.corr(method='pearson')

In [ ]:
cat1 = xml_df['LIGHT']
cat2 = xml_df['ZONE_binary']

ttest_ind(cat1, cat2)

In [ ]:
def plotData(inData,color):
    x,y = zip(*inData)

    xMap = assignIDs(x)
    xAsInts = np.array([xMap[i] for i in x])

    pearR = np.corrcoef(xAsInts,y)[1,0]
    # least squares from:
    # http://docs.scipy.org/doc/numpy/reference/generated/numpy.linalg.lstsq.html
    A = np.vstack([xAsInts,np.ones(len(xAsInts))]).T
    m,c = np.linalg.lstsq(A,np.array(y))[0]

    plt.scatter(xAsInts,y,label='Data '+color,color=color)
    plt.plot(xAsInts,xAsInts*m+c,color=color,
             label="Fit %6s, r = %6.2e"%(color,pearR))
    plt.xticks(xMap.values(),xMap.keys())
    plt.legend(loc=3)
    plt.show()

In [ ]:
display(HTML(xml_df['PRICE','ZONE_binary'].to_html()))

In [ ]:
def correlation_matrix(xml_df):
    fig = plt.figure()
    ax1 = fig.add_subplot(111)
    cmap = cm.get_cmap('jet', 30)
    cax = ax1.imshow(df.corr(), interpolation="nearest", cmap=cmap)
    ax1.grid(True)
    plt.title('Abalone Feature Correlation')
    labels=['Sex','Length','Diam','Height','Whole','Shucked','Viscera','Shell','Rings',]
    ax1.set_xticklabels(labels,fontsize=6)
    ax1.set_yticklabels(labels,fontsize=6)
    # Add colorbar, make sure to specify tick locations to match desired ticklabels
    fig.colorbar(cax, ticks=[.75,.8,.85,.90,.95,1])
    plt.show()

correlation_matrix(xml_df)

In [ ]:
"""

pearson  correlation, fisher, spearman tests
anova test; shady is 1, everything else is 0

**Troubleshooting:**
(1) Original dataset (https://data.cityofnewyork.us/api/views/kku6-nxdu.xml) had multiple tables so code used wasn't able to read through it. 
(2) Parsing datafile: 

NLTK: bag,token,freq,