In [15]:
import urllib, json
from pandas.io.json import json_normalize
import pandas as pd
from IPython.display import display, HTML

In [16]:
url = "http://api.openweathermap.org/data/2.5/weather?id=4887163&APPID=bdffb5bed7c33de5c744c395edfd4b95"
response = urllib.urlopen(url)
data = json.loads(response.read())
print data

{u'clouds': {u'all': 1}, u'name': u'Champaign County', u'visibility': 16093, u'sys': {u'country': u'US', u'sunset': 1540421948, u'message': 0.0035, u'type': 1, u'id': 960, u'sunrise': 1540383240}, u'weather': [{u'main': u'Clear', u'id': 800, u'icon': u'01d', u'description': u'clear sky'}], u'coord': {u'lat': 40.13, u'lon': -88.2}, u'base': u'stations', u'dt': 1540403700, u'main': {u'pressure': 1029, u'temp_min': 285.15, u'temp_max': 285.15, u'temp': 285.15, u'humidity': 46}, u'id': 4887163, u'wind': {u'speed': 5.1, u'deg': 80}, u'cod': 200}

In [17]:
data.dtype

AttributeError: 'dict' object has no attribute 'dtype'

In [13]:
df = pd.DataFrame.from_dict(json_normalize(data), orient='columns')
display(HTML(df.to_html()))