https://www.weatherbit.io/api/weather-forecast-48-hour

In [1]:
import urllib, json
from pandas.io.json import json_normalize
import pandas as pd
from IPython.display import display, HTML

In [2]:
url = "https://api.weatherbit.io/v2.0/forecast/hourly?city=Champaign,IL&key=b884eed1798f46feab4effc907e537a7&hours=1"
response = urllib.urlopen(url)
data = json.loads(response.read())
print data

{u'lon': u'-88.24338', u'lat': u'40.11642', u'country_code': u'US', u'city_name': u'Champaign', u'timezone': u'America/Chicago', u'state_code': u'IL', u'data': [{u'uv': 0, u'timestamp_utc': u'2018-11-16T23:00:00', u'pop': 0, u'ts': 1542409200, u'vis': 24.1, u'weather': {u'code': 804, u'description': u'Overcast clouds', u'icon': u'c04n'}, u'pod': u'n', u'clouds_mid': 0, u'wind_cdir': u'W', u'dhi': 0, u'dni': 0, u'snow': 0, u'rh': 98, u'pres': 991.718, u'snow_depth': 24.3, u'solar_rad': 0, u'timestamp_local': u'2018-11-16T17:00:00', u'wind_cdir_full': u'west', u'datetime': u'2018-11-16:23', u'wind_spd': 2.72271, u'wind_dir': 266, u'clouds': 100, u'temp': 1.6, u'app_temp': -2.9, u'clouds_hi': 0, u'wind_gust_spd': 5.7, u'slp': 1020.21, u'dewpt': 1.4, u'ozone': 294.6, u'precip': 0, u'clouds_low': 100, u'ghi': 0}]}

In [3]:
def get_row(url):
    #url = "https://api.weatherbit.io/v2.0/forecast/hourly?city=Champaign,IL&key=b884eed1798f46feab4effc907e537a7&hours=1"
    response = urllib.urlopen(url)
    data = json.loads(response.read())
    columns = []
    data_list = []
    for key in data:
        value1= data[key]
        #print key+'---->'
        #print value1
    
        if isinstance(value1,list):
            for key2 in value1:
                #print key2 
                if isinstance(key2,dict):
                    for key3 in key2:
                #        print "**********" +key3+'---->'
                        value3 = key2[key3]
                        
                        
                        if isinstance(value3,dict):
                            for key4 in value3:
                                columns.append(key4)
                                data_list.append(value3[key4])
                 #               print "======================================"+key4 +'---->'
                 #               print "))))))))))))" + str(value3[key4])
                        else:
                            columns.append(key3)
                            data_list.append(value3)
                            #print columns
                  #          print " &&&&&&&&&&&&" +str(value3)
        else:
            columns.append(key)
            data_list.append(value1)
            #print columns
            #print value1

    return columns,data_list

#df = pd.DataFrame(data_list)
#df.head()

In [4]:
#forecast for one hour from different 
col,row= get_row("https://api.weatherbit.io/v2.0/forecast/hourly?city=Champaign,IL&key=b884eed1798f46feab4effc907e537a7&hours=1")
col,row2= get_row("https://api.weatherbit.io/v2.0/forecast/hourly?city=Newark,NJ&key=b884eed1798f46feab4effc907e537a7&hours=1")
col,row3= get_row("https://api.weatherbit.io/v2.0/forecast/hourly?city=LosAngeles,CA&key=b884eed1798f46feab4effc907e537a7&hours=1")
col,row4= get_row("https://api.weatherbit.io/v2.0/forecast/hourly?city=Denver,CO&key=b884eed1798f46feab4effc907e537a7&hours=1")


weather_data = [(row), (row2), (row3), (row4)]
labels = col
df = pd.DataFrame(weather_data, columns = labels)
df.head()

,lon,lat,country_code,city_name,timezone,state_code,uv,timestamp_utc,pop,ts,...,temp,app_temp,clouds_hi,wind_gust_spd,slp,dewpt,ozone,precip,clouds_low,ghi
0,-88.24338,40.11642,US,Champaign,America/Chicago,IL,0.000000,2018-11-16T23:00:00,0,1542409200,...,1.6,-2.9,0,5.7,1020.21,1.4,294.6,0,100,0.0000
1,-74.17237,40.73566,US,Newark,America/New_York,NJ,0.000000,2018-11-16T23:00:00,0,1542409200,...,3.4,-0.7,0,10.8,1010.75,1.5,290.0,0,34,0.0000
2,-118.24368,34.05223,US,Los Angeles,America/Los_Angeles,CA,3.073470,2018-11-16T23:00:00,0,1542409200,...,22.4,21.9,0,1.9,1013.80,10.4,282.2,0,0,270.3740
3,-104.9847,39.73915,US,Denver,America/Denver,CO,0.824407,2018-11-16T23:00:00,0,1542409200,...,9.4,9.4,100,1.0,1010.33,-4.0,287.4,0,0,83.8224