**Below is the steps we would go through to load, view and visualize any json data.**  
  
**STEP 1: ADDING PACKAGES**  
  
**We add python packages we require.**

In [1]:
import xml.etree.cElementTree as et   # required to extract data from xml format
import numpy  as np                   # easy to play with arrays etc.
import pandas as pd                   # required to load and read data and put in dataframe.
import matplotlib.pyplot as plt       # required for data visualization purposes.
import seaborn as sns                 # required for data visualization purposes.
import plotly.plotly as py            # required for data visualization purposes.
import plotly.graph_objs as go        # required for data visualization purposes.
import re
from IPython.display import display, HTML
from plotly.offline import init_notebook_mode, iplot
init_notebook_mode(connected=True)

**STEP 2: READING IN A DATASET**  
  
**To read data in the form of .xml, you need et.parse()**  
**We also need to get the root for this we use .getroot()**

**XML files are all strcutured differently, so you need to explore a bit**  

**https://catalog.data.gov/dataset/age-adjusted-death-rates-for-the-top-10-leading-causes-of-death-united-states-2013 is source of data**

In [56]:
parser=RDF.Parser(name="ntriples") #as name for parser you can use ntriples, turtle, rdfxml, ...
model=RDF.Model()
stream=parser.parse_into_model(model,"file://file_path")
for triple in model:
    print triple.subject, triple.predicate, triple.objectparsedXML = et.parse( "data/rows.xml" )
root = parsedXML.getroot()

dictionary_to_df = {}

for neighbor in root.findall("row/row"):
    #print neighbor.tag,neighbor.attrib
    for child in neighbor:
        #The below two lines should be added to make sure all the arrays in the dictionary stay the same length.
        #If you remove those lines and run, make sure to run the last two lines in this cell to see the sizes of arrays.
        if child.tag == 'predicted_value' or child.tag == 'footnote':
            continue
            
        if(child.tag not in dictionary_to_df):
            dictionary_to_df[child.tag]=[child.text] 
        else:            
            dictionary_to_df[child.tag].append(child.text)
        
# for key, array in  dictionary_to_df.items():
    # print key, len(array)

**STEP 3: PUTTING THE DATA IN A PANDAS DATAFRAME**  
  

**We use pd.DataFrame() to put the data we extracted into a pandas df format**

In [59]:
data = pd.DataFrame.from_dict(dictionary_to_df)
display(HTML(data.head().to_html()))

**STEP 4: DECIDING WHICH COLUMNS MATTER**  
  

**There are several columns with data that is redundant. Essentially we pick the columns we want, in the order that we want and discard the rest**

In [60]:
data = data[['state', 'year', 'month', 'percent_complete', 'percent_pending_investigation','data_value']]
print "\t\t\t The Final Dataset"
display(HTML(data.head().to_html()))

			 The Final Dataset

**STEP 5: VIEWING THE FIRST FEW ROWS**  
  

**To see the first few rows of the data and make sure we read it in correctly, we use .head()**

In [64]:
display(HTML(data.head(15).to_html()))

**STEP 6: GET BASIC INFORMATION**  
  
**To get basic info from the dataset, we use .info()**

In [65]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10108 entries, 0 to 10107
Data columns (total 6 columns):
state                            10108 non-null object
year                             10108 non-null object
month                            10108 non-null object
percent_complete                 10108 non-null object
percent_pending_investigation    10108 non-null object
data_value                       10108 non-null object
dtypes: object(6)
memory usage: 473.9+ KB

**STEP 7: SEE FURTHER DETAILS**  
  
**To get datatypes of each column, we can use .dtypes**  

**To get more details about each column, we can use .describe()**  
  
The reason we only get data from 3 columns is because the rest have commas in them which need to be removed
We can deal with this later while cleaning.

In [70]:
print data.dtypes
print "\n"
display(HTML(data.describe().to_html()))

state                            object
year                             object
month                            object
percent_complete                 object
percent_pending_investigation    object
data_value                       object
dtype: object

**STEP 8: COUNT NUMBER OF EMPTY VALUES IN COLUMN**  
   
**We can check the number of null values a column has by using .isnull().sum()**  
  
**For example, here, Climate has the most null values **

In [73]:
print data.isnull().sum()

state                            0
year                             0
month                            0
percent_complete                 0
percent_pending_investigation    0
data_value                       0
dtype: int64

**STEP 9: SEE NUMBER OF UNIQUE VALUES IN COLUMN**  
  
**It is useful to see the number of unique values in each column using .nunique()**  
  
**Here we see state year and month have a good number of unique values to order by, therefore we can group by these columns and make good visualizations**

In [74]:
print data.nunique()

state                              53
year                                4
month                              12
percent_complete                    2
percent_pending_investigation    1787
data_value                       4628
dtype: int64

**STEP 10: NUMBER OF OCCURANCES OF EACH VALUE IN COLUMN**  
  
**A good way to visualize data of a column you wish to group by is to use .value_counts()**  
  
**It gives a clear picture of how many would be in each group etc.**

In [134]:
year = data.year.value_counts()
print year
print "\n"

month = data.month.value_counts()
print month
print "\n"

state = data.state.value_counts()
print state.head(15)

2017    3192
2016    3192
2015    3192
2018     532
Name: year, dtype: int64


January      1064
February     1064
September     798
October       798
November      798
May           798
March         798
June          798
July          798
December      798
August        798
April         798
Name: month, dtype: int64


YC    380
RI    380
MD    380
ME    380
NC    380
NH    380
DC    380
NM    380
NV    380
NY    380
OK    380
OR    380
CT    380
SC    380
WV    380
Name: state, dtype: int64