In [1]:
import requests
import io
import json
from IPython.display import display, HTML
import numpy  as np                   # easy to play with arrays etc.
import pandas as pd                   # required to load and read data and put in dataframe.
import matplotlib.pyplot as plt       # required for data visualization purposes.
import seaborn as sns                 # required for data visualization purposes.
import plotly.plotly as py            # required for data visualization purposes.
import plotly.graph_objs as go        # required for data visualization purposes.
import re
from IPython.display import display, HTML
from plotly.offline import init_notebook_mode, iplot
init_notebook_mode(connected=True)

Get details from: https://earthquake.usgs.gov/data/comcat/data-eventterms.php#mag

In [53]:
url ='https://earthquake.usgs.gov/fdsnws/event/1/query?format=geojson&starttime=2018-01-01&minmagnitude=3.1'
page = requests.get(url)
urlData= page.content

In [54]:
parsed_json = json.loads(urlData)

In [55]:
columns=[]
list_of_list = []
first_time=1
for key in parsed_json['features']:
    data = []
    for k in key['properties']:
        if(first_time):
            columns.append(k)
        data.append(key['properties'][k])
    first_time=0
    list_of_list.append(data)

In [56]:
data = pd.DataFrame(list_of_list, columns=columns)
data = data.set_index('code')

In [57]:
for i in data.columns:
    if data[i].dtype == 'object':        
        data[i] = data[i].str.strip(',')
    else:
        data[i] = data[i].astype(float)

In [60]:
data.head()

,rms,cdi,sources,nst,tz,title,magType,detail,sig,net,...,dmin,mag,gap,types,url,ids,tsunami,place,time,mmi
code,,,,,,,,,,,,,,,,,,,,,
2000i59t,0.59,NaN,us,NaN,270.0,"M 4.0 - 30km SSE of Jarm, Afghanistan",mb,https://earthquake.usgs.gov/fdsnws/event/1/que...,246.0,us,...,1.034,4.0,110.0,"geoserve,origin,phase-data",https://earthquake.usgs.gov/earthquakes/eventp...,us2000i59t,0.0,"30km SSE of Jarm, Afghanistan",1.541081e+12,NaN
2000i59s,0.55,NaN,us,NaN,-360.0,"M 4.5 - 86km SSW of Masachapa, Nicaragua",mb,https://earthquake.usgs.gov/fdsnws/event/1/que...,312.0,us,...,1.195,4.5,200.0,"geoserve,origin,phase-data",https://earthquake.usgs.gov/earthquakes/eventp...,us2000i59s,0.0,"86km SSW of Masachapa, Nicaragua",1.541077e+12,NaN
2000i58n,0.70,3.4,us,NaN,-360.0,"M 4.7 - 18km WSW of Puerto Armuelles, Panama",mb,https://earthquake.usgs.gov/fdsnws/event/1/que...,342.0,us,...,0.641,4.7,135.0,"dyfi,geoserve,origin,phase-data",https://earthquake.usgs.gov/earthquakes/eventp...,us2000i58n,0.0,"18km WSW of Puerto Armuelles, Panama",1.541071e+12,NaN
2000i55r,1.07,NaN,us,NaN,-240.0,"M 4.8 - 28km ENE of Calama, Chile",mb,https://earthquake.usgs.gov/fdsnws/event/1/que...,354.0,us,...,0.343,4.8,48.0,"geoserve,origin,phase-data",https://earthquake.usgs.gov/earthquakes/eventp...,us2000i55r,0.0,"28km ENE of Calama, Chile",1.541054e+12,NaN
2000i58x,0.61,NaN,us,NaN,480.0,"M 4.3 - 154km NNE of Kali, Indonesia",mb,https://earthquake.usgs.gov/fdsnws/event/1/que...,284.0,us,...,1.827,4.3,77.0,"geoserve,origin,phase-data",https://earthquake.usgs.gov/earthquakes/eventp...,us2000i58x,0.0,"154km NNE of Kali, Indonesia",1.541053e+12,NaN

In [59]:
print data.info()
display(HTML(data.describe().to_html()))
print '\n'
print 'Number of NULL'
print '\n'
print data.isnull().sum()
print '\n\n'
print 'Number of UNIQUE'
print '\n'
print data.nunique()

<class 'pandas.core.frame.DataFrame'>
Index: 18174 entries, 2000i59t to 2000ck1k
Data columns (total 25 columns):
rms        18173 non-null float64
cdi        3250 non-null float64
sources    18174 non-null object
nst        2987 non-null float64
tz         18080 non-null float64
title      18174 non-null object
magType    18173 non-null object
detail     18174 non-null object
sig        18174 non-null float64
net        18174 non-null object
type       18174 non-null object
status     18173 non-null object
updated    18174 non-null float64
felt       3250 non-null float64
alert      668 non-null object
dmin       17352 non-null float64
mag        18174 non-null float64
gap        17452 non-null float64
types      18174 non-null object
url        18174 non-null object
ids        18174 non-null object
tsunami    18174 non-null float64
place      18174 non-null object
time       18174 non-null float64
mmi        1547 non-null float64
dtypes: float64(13), object(12)
memory usage: 3.6+ MB
None

Number of NULL


rms            1
cdi        14924
sources        0
nst        15187
tz            94
title          0
magType        1
detail         0
sig            0
net            0
type           0
status         1
updated        0
felt       14924
alert      17506
dmin         822
mag            0
gap          722
types          0
url            0
ids            0
tsunami        0
place          0
time           0
mmi        16627
dtype: int64



Number of UNIQUE


rms          170
cdi           67
sources       75
nst          129
tz            33
title      13738
magType       10
detail     18174
sig          456
net           11
type           7
status         2
updated     5604
felt         230
alert          4
dmin        8871
mag          164
gap          354
types        136
url        18174
ids        18174
tsunami        2
place      11231
time       18170
mmi          419
dtype: int64