In [1]:
import urllib, json
from pandas.io.json import json_normalize
import pandas as pd
from IPython.display import display, HTML

In [2]:
url = "http://api.openweathermap.org/data/2.5/weather?id=4887163&APPID=bdffb5bed7c33de5c744c395edfd4b95"
response = urllib.urlopen(url)
data = json.loads(response.read())
print data

{u'clouds': {u'all': 90}, u'name': u'Champaign County', u'visibility': 16093, u'sys': {u'country': u'US', u'sunset': 1541112555, u'message': 0.1293, u'type': 1, u'id': 1003, u'sunrise': 1541074972}, u'weather': [{u'main': u'Rain', u'id': 500, u'icon': u'10d', u'description': u'light rain'}], u'coord': {u'lat': 40.13, u'lon': -88.2}, u'base': u'stations', u'rain': {u'1h': 0.89}, u'dt': 1541086500, u'main': {u'pressure': 1008, u'temp_min': 279.25, u'temp_max': 280.65, u'temp': 279.91, u'humidity': 95}, u'id': 4887163, u'wind': {u'gust': 11.8, u'speed': 7.7, u'deg': 70}, u'cod': 200}

In [34]:
def get_row(url):
    #url = "http://api.openweathermap.org/data/2.5/weather?id=4887163&APPID=bdffb5bed7c33de5c744c395edfd4b95"
    response = urllib.urlopen(url)
    data = json.loads(response.read())
    columns = []
    data_list = []
    for key in data:
        #print key+'---->'
        value1= data[key]
        if isinstance(value1,dict):
            for key2 in value1:
                #print key2+'---->'
                columns.append(key2)
                data_list.append(value1[key2])
                #print columns
                #print value1[key2]

        elif isinstance(value1,list):
            for key2 in value1:
                #print key2
                if isinstance(key2,dict):
                    for key3 in key2:
                        #print key3+'---->'
                        columns.append(key3)
                        data_list.append(key2[key3])
                        #print columns
                        #print key2[key3]
        else:
            columns.append(key)
            data_list.append(value1)
            #print columns
            #print value1

    return columns,data_list

#df = pd.DataFrame(data_list)
#df.head()

In [42]:
col,row= get_row("http://api.openweathermap.org/data/2.5/weather?q=Champaign&APPID=bdffb5bed7c33de5c744c395edfd4b95")
print col,row
print len(col)
print len(row)

[u'all', u'name', u'visibility', u'country', u'sunset', u'message', u'type', u'id', u'sunrise', u'main', u'id', u'icon', u'description', u'main', u'id', u'icon', u'description', u'lat', u'lon', u'base', u'1h', u'dt', u'pressure', u'temp_min', u'temp_max', u'temp', u'humidity', u'id', u'gust', u'speed', u'deg', u'cod'] [90, u'Champaign', 16093, u'US', 1541112563, 0.0035, 1, 1003, 1541074984, u'Rain', 500, u'10d', u'light rain', u'Drizzle', 300, u'09d', u'light intensity drizzle', 40.12, -88.24, u'stations', 0.25, 1541090100, 1008, 279.25, 280.95, 280.2, 89, 4887158, 12.9, 10.3, 70, 200]
32
32

In [43]:
data_list = []
city_list = ['Champaign', 'London', 'Bangkok', 'Chicago', 'Dubai', 'Paris']
for city_name in city_list:
    col,row2= get_row("http://api.openweathermap.org/data/2.5/weather?q="+city_name+"&APPID=bdffb5bed7c33de5c744c395edfd4b95")
    data_list.append(row2)
    if col#CHECK IF PREVIOUS COLUMN IS LARGER THAN ANOTHER COLUMN, THEN SET LARGER COLUMN
    #col2,row2= get_row("http://api.openweathermap.org/data/2.5/weather?q=London&APPID=bdffb5bed7c33de5c744c395edfd4b95")
print col2,row2
print len(col2)
print len(row2)

[u'all', u'name', u'visibility', u'country', u'sunset', u'message', u'type', u'id', u'sunrise', u'main', u'id', u'icon', u'description', u'lat', u'lon', u'base', u'dt', u'pressure', u'temp_min', u'temp_max', u'temp', u'humidity', u'id', u'speed', u'deg', u'cod'] [90, u'London', 10000, u'GB', 1541089941, 0.005, 1, 5091, 1541055301, u'Rain', 521, u'09d', u'shower rain', 51.51, -0.13, u'stations', 1541089200, 1007, 281.15, 283.15, 282.25, 87, 2643743, 5.1, 300, 200]
26
26

In [48]:
data_list = [row,row2]
df = pd.DataFrame(data_list, columns = col)
df.head()

,all,name,visibility,country,sunset,message,type,id,sunrise,main,...,pressure,temp_min,temp_max,temp,humidity,id,gust,speed,deg,cod
0,90,Champaign,16093,US,1541112563,0.0035,1,1003,1541074984,Rain,...,1008,279.25,280.95,280.2,89.0,4887158.0,12.9,10.3,70.0,200.0
1,90,London,10000,GB,1541089941,0.0050,1,5091,1541055301,Rain,...,2643743,5.10,300.00,200.0,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df = pd.DataFrame.from_dict(json_normalize(data), orient='columns')
display(HTML(df.to_html()))