## Import Packages

**pandas - manipulating the data (eg. read csv file)**

**numpy - apply math functions to arrays**

**matplotlib.pyplot - features to help with plotting figures**

**seaborn - data visualization (eg. heatmap)**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display, HTML 
import wget

## Read File

**Use pandas to get where file is saved from computer (may need to include delimiter to separate data into columns). Add headers to label columns of dataframe.**

In [2]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/processed.cleveland.data'
cleveland_data = wget.download(url)
print (cleveland_data)
#df = pd.read_csv(cleveland_data)
#df.head()

100% [..........................................................] 18461 / 18461processed.cleveland.data

In [3]:
df = pd.read_csv(cleveland_data, header = None, index_col = False, delimiter = ',')
df.columns = ['Age','Sex','Chest_Pain','RestBP','Chol','FBS', 'RestECG', 'MaxHR', 'Exang', 'Oldpeak', 'Slope_ST_seg', 'Ca', 'Thal', 'Num']

df.head()
#1st 5 rows of table with header

,Age,Sex,Chest_Pain,RestBP,Chol,FBS,RestECG,MaxHR,Exang,Oldpeak,Slope_ST_seg,Ca,Thal,Num
0,63.0,1.0,1.0,145.0,233.0,1.0,2.0,150.0,0.0,2.3,3.0,0.0,6.0,0
1,67.0,1.0,4.0,160.0,286.0,0.0,2.0,108.0,1.0,1.5,2.0,3.0,3.0,2
2,67.0,1.0,4.0,120.0,229.0,0.0,2.0,129.0,1.0,2.6,2.0,2.0,7.0,1
3,37.0,1.0,3.0,130.0,250.0,0.0,0.0,187.0,0.0,3.5,3.0,0.0,3.0,0
4,41.0,0.0,2.0,130.0,204.0,0.0,2.0,172.0,0.0,1.4,1.0,0.0,3.0,0

## Assess Basic Info

**Find basic statistics and trends of data using .describe()  .info()  .isnull().sum()  .dtypes()  .nunique()  .plot()**

In [4]:
'''
for j in range(len(df['Ca'])):
    if df.iloc[j]['Ca']=='?':
        df.set_value(j,'Ca','0.0')
df['Ca']=df['Ca'].astype(float)


for j in range(len(df['Thal'])):
    if df.iloc[j]['Thal']=='?':
        df.set_value(j,'Thal','0.0')
df['Thal']=df['Thal'].astype(float)

'''

"\nfor j in range(len(df['Ca'])):\n    if df.iloc[j]['Ca']=='?':\n        df.set_value(j,'Ca','0.0')\ndf['Ca']=df['Ca'].astype(float)\n\n\nfor j in range(len(df['Thal'])):\n    if df.iloc[j]['Thal']=='?':\n        df.set_value(j,'Thal','0.0')\ndf['Thal']=df['Thal'].astype(float)\n\n"

In [5]:
df[df['Ca']=='?'].Ca

166    ?
192    ?
287    ?
302    ?
Name: Ca, dtype: object

In [6]:
df.describe()

,Age,Sex,Chest_Pain,RestBP,Chol,FBS,RestECG,MaxHR,Exang,Oldpeak,Slope_ST_seg,Num
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.438944,0.679868,3.158416,131.689769,246.693069,0.148515,0.990099,149.607261,0.326733,1.039604,1.600660,0.937294
std,9.038662,0.467299,0.960126,17.599748,51.776918,0.356198,0.994971,22.875003,0.469794,1.161075,0.616226,1.228536
min,29.000000,0.000000,1.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,1.000000,0.000000
25%,48.000000,0.000000,3.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000
50%,56.000000,1.000000,3.000000,130.000000,241.000000,0.000000,1.000000,153.000000,0.000000,0.800000,2.000000,0.000000
75%,61.000000,1.000000,4.000000,140.000000,275.000000,0.000000,2.000000,166.000000,1.000000,1.600000,2.000000,2.000000
max,77.000000,1.000000,4.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,3.000000,4.000000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
Age             303 non-null float64
Sex             303 non-null float64
Chest_Pain      303 non-null float64
RestBP          303 non-null float64
Chol            303 non-null float64
FBS             303 non-null float64
RestECG         303 non-null float64
MaxHR           303 non-null float64
Exang           303 non-null float64
Oldpeak         303 non-null float64
Slope_ST_seg    303 non-null float64
Ca              303 non-null object
Thal            303 non-null object
Num             303 non-null int64
dtypes: float64(11), int64(1), object(2)
memory usage: 33.2+ KB

In [8]:
print (df.isnull().sum())

Age             0
Sex             0
Chest_Pain      0
RestBP          0
Chol            0
FBS             0
RestECG         0
MaxHR           0
Exang           0
Oldpeak         0
Slope_ST_seg    0
Ca              0
Thal            0
Num             0
dtype: int64

In [9]:
print(df.dtypes)                                            #not working

Age             float64
Sex             float64
Chest_Pain      float64
RestBP          float64
Chol            float64
FBS             float64
RestECG         float64
MaxHR           float64
Exang           float64
Oldpeak         float64
Slope_ST_seg    float64
Ca               object
Thal             object
Num               int64
dtype: object

In [10]:
#unique counts per catogory -- issues with num column?
#print(df.apply(lambda x: x.nunique()))                          #this method works for nunique             
print (df.nunique())                                            #working after adjusting panda, conda, switched to py2

Age              41
Sex               2
Chest_Pain        4
RestBP           50
Chol            152
FBS               2
RestECG           3
MaxHR            91
Exang             2
Oldpeak          40
Slope_ST_seg      3
Ca                5
Thal              4
Num               5
dtype: int64